@keyframes fall {
    0% {
        transform: translateY(-5vh);
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        transform: translateY(90vh);
        opacity: 0;
    }
}

@keyframes double-bounce-pause {
    0%,
    5.3%,
    10.7%,
    100% {
        transform: translateY(0);
    }

    2.6% {
        transform: translateY(-8px);
    }

    8% {
        transform: translateY(-8px);
    }
}

@keyframes launch {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px) scale(0.5);
        opacity: 0;
    }
}
