@layer components {
    .section-container {
        @apply py-12 md:py-20 px-4 md:px-0;
    }

    .falling-letter {
        @apply absolute font-heading font-extralight select-none pointer-events-none leading-none;
        animation: fall linear forwards;
    }

    .launching {
        animation: launch 0.5s ease-in forwards;
    }

    /* Cards */
    .card {
        @apply px-2 md:px-6 lg:px-10 py-2 md:py-4 rounded
            flex flex-col gap-2 md:gap-4 lg:gap-6
            transition-all;
    }

    .card .card-header {
        @apply flex flex-col gap-2
    }

    .card .card-header .card-title {
        @apply font-heading text-xl;
    }

    .card .card-content {
        @apply font-body text-sm;
    }

    .card.primary {
        @apply bg-primary;
    }

    .card.outlined {
        @apply border bg-transparent border-gray-600 backdrop-blur-xs
                hover:border-gray-400 hover:shadow-lg;
    }

    .card.dark {
        @apply border bg-darker border-gray-600
                hover:border-gray-400 hover:-translate-y-0.5 hover:shadow-lg;
    }

    .card.dark.gradient {
        @apply border bg-transparent border-gray-600 backdrop-blur-xs bg-linear-to-tl from-black/50 to-dark/50
                hover:border-gray-400 hover:-translate-y-0.5 hover:shadow-lg;
    }

    /* Timeline */

    /* Badges */
    .badge {
        @apply px-2 py-1 rounded text-xs;
    }

    .badge-primary {
        @apply border border-primary text-primary bg-accent/10;
    }
}
