@import "tailwindcss";

@theme {
    /* Base Colors - Theme used in @layer base{...} */
    --color-background: #2e3440;
    --color-accent: #81a1c1;
    --color-primary: #81a1c1;
    --color-maintext: #eceff4;
    --color-subtext: #b2bed1;
    --color-textrain: #d8dee9;
    --color-dark: #262a32;

    /* Fonts */
    --font-heading: "Libre Baskerville", sans-serif;
    --font-body: "Libre Baskerville", sans-serif;

    /* Custom Animations */
    --animate-fall: fall linear forwards;
    --animate-bounce-twice: double-bounce-pause 5.6s ease-in-out infinite;

    @keyframes fall {
        0% {
            transform: translateY(-5vh);
            opacity: 0;
        }

        10% {
            opacity: 0.5;
        }

        90% {
            opacity: 0.3;
        }

        100% {
            transform: translateY(90vh);
            opacity: 0;
        }
    }

    @keyframes double-bounce-pause {
        0%,
        5.3%,
        10.7%,
        100% {
            transform: translateY(0);
        }

        2.6% {
            transform: translateY(-8px);
        }

        8% {
            transform: translateY(-8px);
        }
    }

    @keyframes launch {
        0% {
            transform: translateY(0) scale(1);
            opacity: 1;
        }

        100% {
            transform: translateY(-50px) scale(0.5);
            opacity: 0;
        }
    }
}

@layer base {
    /* Default Theme - Dark */
    :root,
    [data-theme="default-dark"] {
        --color-background: #2e3440;
        --color-accent: #81a1c1;
        --color-maintext: #eceff4;
        --color-subtext: #b2bed1;
        --color-textrain: #d8dee9;
    }

    /* Default Theme - Light */
    [data-theme="default-light"] {
        --color-background: #F5F3FF;
        --color-accent: #7C3AED;
        --color-maintext: #1E1B4B;
        --color-subtext: #4B5563;
        --color-textrain: #97a7dc;
    }

    /* Core Element Styles */
    *::selection {
        @apply bg-accent text-background;
    }

    body {
        @apply font-body antialiased text-maintext;
        background: linear-gradient(135deg,
                color-mix(in srgb, var(--color-background), black 20%) 0%,
                var(--color-background) 50%,
                color-mix(in srgb, var(--color-background), var(--color-accent) 16%) 100%);
        background-attachment: fixed;
        min-height: 100vh;
        /*Transition for theme switching*/
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }
}

@layer components {
    .section-container {
        @apply py-12 md:py-20 px-4 md:px-0;
    }

    .falling-letter {
        @apply absolute font-heading font-extralight select-none pointer-events-none leading-none;
        animation: fall linear forwards;
    }

    .launching {
        animation: launch 0.5s ease-in forwards;
    }
}

@layer utilities {
    .border-glow {
        position: relative;
    }

    .border-glow::before {
        pointer-events: none;
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        border: inherit;
        filter: blur(8px);
        opacity: .7;
    }


    /* .noto-serif-text {
        font-family: "Noto Serif", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    } */
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: color-mix(in srgb, var(--color-accent), transparent 50%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in srgb, var(--color-accent), transparent 25%);
}
