@import '../../assets/scss/variables';
@import '../../assets/scss/functions';

.divider {
    background-image: gradient('primary');
    clip-path: polygon(0 15%, 100% 25%, 100% 85%, 0 75%);
    width: 100%;
    height: 150vh;
}