@import '../variables';
@import '../functions';

/* Typography-specific variables */
$link-hover-radius: 3px;
$link-bottom-pad: .2rem;

/* General styles */
.title {
    text-shadow: 0 4px 25px rgba(255, 255, 255, 0.15);
    font-size: 3rem;
    font-weight: 700;
}

.subtitle {
    font-size: 2rem;
    font-weight: 500;
}

@each $color, $value in $theme-colors {
    .title.title--#{$color},
    .subtitle.subtitle--#{$color} {
        color: $value;
    }
}

/* Tect positioning */
.text-center {
    text-align: center;
}

/* Links */
.link {
    z-index: 1;
    box-sizing: border-box;
    padding: $link-bottom-pad;
    // padding-bottom: $link-bottom-pad;
    border-radius: $link-hover-radius $link-hover-radius 0 0;
    font-size: 1rem;
    overflow: hidden;
    outline: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    transition: all .2s ease;
}

.link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 91%;
    z-index: -1;
    transition: top .08s ease-in;
}

.link:hover {
    color: white !important;
}

@each $color, $value in $theme-colors {
    .link.link--#{$color} {
        color: $value;
        position: relative;
    }

    .link.link--#{$color}.link--gradient:before {
        background-image: gradient($color);
    }

    .link.link--#{$color}:before {
        background: theme($color);
    }


    .link.link--#{$color}:hover:before {
        top: 0;
        color: white;
    }
}
