@import '../../assets/scss/variables';
@import '../../assets/scss/functions';


.footer {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    &__bottom-area {
        display: flex;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 25vh;
        z-index: 1;
    }

    &__link {
        display: inline-block;
        font-size: 1.4rem;
        animation: up-down-link 5s ease infinite alternate;

    }
}

.footer__svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 50vh;
    transform: scale(1, -1);
    
    path {
        animation: line-animation 15s linear infinite alternate;
        fill: grey('700');
    }
}


@keyframes line-animation {
    0% {
        d: path("M 0 100 Q 250 50 400 200 Q 550 350 800 300 L 800 0 L 0 0 L 0 100 Z");
    }

    50% {
        d: path("M 0 100 Q 200 150 400 200 Q 600 250 800 300 L 800 0 L 0 0 L 0 100 Z");
    }

    100% {
        d: path("M 0 100 Q 150 350 400 200 Q 650 50 800 300 L 800 0 L 0 0 L 0 100 Z");
    }
}

@keyframes up-down-link {
    0% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0);
    }
}